aside{
   float: left;
   background-color: cadetblue;
   width: 30%;
   padding: 20px;
   box-sizing: border-box;
   p{
      h3{
         color: gainsboro;
      }
      
      a{
         text-decoration: none;
         color: white;
         :hover{
            color: grey;
         }
      }
   }
}
